@using Blend.Cms12.Models.Blocks
@model BannerImageBlock

<li class="item" style="width: 12.5%; left: 0%; opacity: 1;">
    <a class="thumb" style="background-image: url('@Url.ContentUrl(Model.Image)')" href="@Url.ContentUrl(Model.Url)"></a>
    <a class="thumb_mobile" style="background-image: url('/storage/app/media/13-aug-11-sepllp-x-lanywebsite-mobile640-x-360-px-1.png')" href="https://www.lendleaseplus.com/happenings/events/84B2403F"></a>
    <div class="caption-box  to-left">
        <div class="box-size-80">
        </div>
    </div>
</li> 
