@using Blend.Cms12.Models.Blocks.Start
@model Section4Block
<div class="home-section-4 ll-frame frame-size-70 content-center height-auto">
    <span class="title font-type-2 bold font_x_extreme box-size-100 padding-box-5">@Model.Content</span>
    <div class="ll-mall-wrapper padding-box-2">

        @if (Model?.ContentArea?.Items != null)
        {
            @foreach (var item in Model.ContentArea.Items)
            {
                var block = item?.GetContent() as Section4ItemBlock;
                if (block != null)
                {
                    await Html.RenderPartialAsync("Section4ItemBlock", block);
                }
            }
        }
    </div>
</div>