@using Blend.Cms12.Models.Blocks.Benefits
@model VoucherBlock
<div class="ll-card-point @Model.Color font-type-2 bold">
	<span class="">
		<span style="font-size: 2em">$@Model.Money</span> Lendlease
		<br>Gift Voucher&nbsp;
	</span>
	<span>@Model.Plus.ToString("N0") Lendlease Plus$</span>
</div>